/*  global variable */
:root {
    box-sizing: border-box;
    --rad: 0.7rem;
    --dur: 0.3s;
    --white: #fff;
    --color-dark: #2f2f2f;
    --background-1: #f2f5fd;
    --gray: gray;
    --gray-text: #808ca3;
    --orange: #f3b001;
    --dark: #011948;
    --blue: #578ff9;
    --blue-text: #276ef8;
    --light: rgb(38 46 46 / 6%);
    --light-text-2: #97a3b9;
    --color-light: #fff;
    --green: #00bc8b;
    --red: #ef3737;
    --color-brand: #57bd84;
    --font-fam: "Lato", sans-serif;
    --height: 4.4rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    color: var(--dark);
}

.text-center {
    text-align: center;
}

.gray-text {
    color: var(--gray-text);
}

.light_text {
    color: var(--blue) !important;
}

.light_text_2 {
    color: var(--light-text-2);
}

.blue_text {
    color: var(--blue-text);
}

.clickable {
    cursor: pointer;
}

.pb-20 {
    padding-bottom: 20px;
}

.p-40 {
    padding: 40px;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

/*  global variable */

main-container {
    display: flex;
    height: 100vh;
}

.sidebar_content {
    width: 30%;
    display: flex;
}

.menu {
    width: 20%;
    border: 1px solid var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    border-bottom: 1px solid var(--light);
}

.icons {
    padding: 20px;
    cursor: pointer;
}

.menu_items {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    width: 80%;
    border: 1px solid var(--light);
    background-color: rgb(244 247 255);
}

.dashboard_head {
    padding: 30px;
    border-bottom: 1px solid var(--light);
}

.menu_sidebar {
    height: calc(100vh - 92px);
    width: 100%;
    overflow-y: auto;
}

.tasks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.pill_button {
    background-color: rgb(255 184 0);
    border: none;
    color: var(--dark);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.link {
    color: rgb(15 94 247);
    font-size: 12px;
}

.numbers {
    color: var(--dark);
}

.menu_item_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* lobotomized-owl-selector */
/* You want to set a standard border between your components/modules/anything – mostly vertically – and for this, you set a decent border. After this, you face that your first or last element has unnecessary border and it border; this is solvable with a border on the first or last-child. */

.menu_item_name + .menu_item_name {
    border-top: 1px solid var(--light);
}

.button {
    padding: 5px 30px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgb(15 94 247);
    border-radius: 4px;
    outline: none;
    border: none;
    color: var(--white);
}

.create_new_project_button {
    margin: 14px auto;
    display: flex;
    justify-content: center;
}

.button > p {
    padding: 15px 20px;
}

.telegram {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.helpdesk > p {
    color: var(--gray);
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.girl_pic {
    display: flex;
    justify-content: center;
}

.telegram > a {
    text-decoration: none;
    color: rgb(15 94 247);
}

.button > p {
    padding: 4px 14px;
}

.charts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.outer-circle_1 {
    background: var(--orange);
    border-radius: 50%;
    height: 6px;
    margin: 5px;
    width: 6px;
    position: relative;
}

.outer-circle_2 {
    background: var(--blue);
    border-radius: 50%;
    height: 6px;
    margin: 5px;
    width: 6px;
    position: relative;
}

.outer-circle_3 {
    background: var(--green);
    border-radius: 50%;
    height: 6px;
    margin: 5px;
    width: 6px;
    position: relative;
}
