/*  global variable */
:root {
    box-sizing: border-box;
    --rad: 0.7rem;
    --dur: 0.3s;
    --white: #fff;
    --color-dark: #2f2f2f;
    --background-1: #f2f5fd;
    --gray: gray;
    --gray-text: #808ca3;
    --orange: #f3b001;
    --dark: #011948;
    --blue: #578ff9;
    --blue-text: #276ef8;
    --light: rgb(38 46 46 / 6%);
    --light-text-2: #97a3b9;
    --color-light: #fff;
    --green: #00bc8b;
    --red: #ef3737;
    --color-brand: #57bd84;
    --font-fam: "Lato", sans-serif;
    --height: 4.4rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    color: var(--dark);
}

.text-center {
    text-align: center;
}

.gray-text {
    color: var(--gray-text);
}

.light_text {
    color: var(--blue) !important;
}

.light_text_2 {
    color: var(--light-text-2);
}

.blue_text {
    color: var(--blue-text);
}

.clickable {
    cursor: pointer;
}

.pb-20 {
    padding-bottom: 20px;
}

.p-40 {
    padding: 40px;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
}

/*  global variable */

.main-container {
    display: flex;
    height: 100vh;
}

.sidebar_content {
    width: 30%;
    display: flex;
}

.menu {
    width: 20%;
    border: 1px solid var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    border-bottom: 1px solid var(--light);
}

.icons {
    padding: 20px;
    cursor: pointer;
}

.menu_items {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    width: 80%;
    border: 1px solid var(--light);
    background-color: rgb(244 247 255);
}

.dashboard_head {
    padding: 30px;
    border-bottom: 1px solid var(--light);
}

.menu_sidebar {
    height: calc(100vh - 92px);
    width: 100%;
    overflow-y: auto;
}

.tasks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.pill_button {
    background-color: rgb(255 184 0);
    border: none;
    color: var(--dark);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.link {
    color: rgb(15 94 247);
    font-size: 12px;
}

.numbers {
    color: var(--dark);
}

.menu_item_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* lobotomized-owl-selector */
/* You want to set a standard border between your components/modules/anything – mostly vertically – and for this, you set a decent border. After this, you face that your first or last element has unnecessary border and it border; this is solvable with a border on the first or last-child. */

.menu_item_name + .menu_item_name {
    border-top: 1px solid var(--light);
}

/* overlay effect */
.overlay, #overlay_not_found {
    position: fixed;
   visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.user-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay_not_found{
    display: none;
}

.overlay_not_found .text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.cancel{
    position: absolute;
    right: 10px;
    top: 10px;
}

/* form */
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    min-width: 480px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type="submit"] {
    background-color: var(--blue);
    color: white;
    padding: 12px 20px;
    border: none;
    min-width: 480px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--blue);
}

.form-container {
    border-radius: 5px;
    height: 100vh;
    width: 50%;
    max-width: 600px;
    min-width: 556px;
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;
}

.user-container {
    border-radius: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-width: 556px;
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;
}

/* form */

.button {
    padding: 5px 30px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgb(15 94 247);
    border-radius: 4px;
    outline: none;
    border: none;
    color: var(--white);
}

.create_new_project_button {
    margin: 14px auto;
    display: flex;
    justify-content: center;
}

.project_form{
    padding-top: 40px;
}

.button > p {
    padding: 15px 20px;
}

.telegram {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.helpdesk > p {
    color: var(--gray);
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.girl_pic {
    display: flex;
    justify-content: center;
}

.telegram > a {
    text-decoration: none;
    color: rgb(15 94 247);
}

.button > p {
    padding: 4px 14px;
}

.charts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.outer-circle_1 {
    background: var(--orange);
    border-radius: 50%;
    height: 6px;
    margin: 5px;
    width: 6px;
    position: relative;
}

.outer-circle_2 {
    background: var(--blue);
    border-radius: 50%;
    height: 6px;
    margin: 5px;
    width: 6px;
    position: relative;
}

.outer-circle_3 {
    background: var(--green);
    border-radius: 50%;
    height: 6px;
    margin: 5px;
    width: 6px;
    position: relative;
}

.main-content {
    width: 70%;
    height: 100vh;
}

.menubar {
    border-bottom: 1px solid var(--light);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile_menu {
    display: flex;
}

.vertical_line {
    border-left: 1px solid var(--gray);
    height: 20px;
    margin: auto 0;
}

.mx_player,
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.user_heading {
    padding: 5px;
}

.heading {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

.card_heading > p {
    font-size: 12px;
}

.heading > p {
    padding: 5px;
    margin: 0;
    font-size: 12px;
    color: var(--gray);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heading > h4 {
    padding: 5px;
    margin: 0;
    font-size: 16px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_heading .welcome_back {
    font-weight: 100;
    padding-bottom: 10px;
    font-size: 47px;
    color: var(--light-text-2);
    font-family: "Open Sans Condensed", sans-serif;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.metrics_card,
.task_card,
.invoice_card,
.security_card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    padding: 21px;
    border-radius: 8px;
}

.metrics_card {
    background-color: rgb(255 184 0);
}

.metrics_card,
.invoice_card {
    flex: 16%;
}

.in_progress {
    font-size: 12px;
}

.metric_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.metric_container + .metric_container {
    border-top: 1px solid var(--white);
}

.task_card,
.security_card {
    flex: 24%;
}

.metrics_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.metrics_divider {
    display: flex;
    align-items: center;
}

.task_card {
    background-color: var(--white);
    border: 1px solid var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.invoice_card {
    background-color: rgb(15 94 247);
    color: var(--white);
}

.security_card {
    background-color: var(--background-1);
}

.security_top {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light);
}

.security_body {
    padding: 40px 5px;
}

.security_body > p {
    padding-bottom: 5px;
    font-size: 14px;
}

.security_body > p > span {
    color: var(--dark);
    font-size: 14px;
}

.recent_clients_head {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0px;
}

.recent_clients_head > img {
    padding: 0 10px;
}
.recent_cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.recent_card > p + p {
    padding-top: 15px;
}

.recent_card {
    flex: 20%;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid var(--light);
    padding: 20px;
    display: inline;
}

.project_card {
    flex: 20%;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid var(--light);
    display: inline;
    position: relative;
}

.project_card  .trash {
    position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
}

.project_card_body {
    padding: 20px;
}

.dot {
    height: 6px;
    width: 6px;
    margin: 5px;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
}

.badge_label {
    font-size: 12px;
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firm {
    padding: 5px 0;
    font-size: 12px;
}

.badges {
    display: flex;
}

.step_1,
.step_2,
.step_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.badge_1 {
    background-color: var(--green);
    color: var(--white);
}

.badge_2 {
    background-color: rgb(255 184 0);
    color: var(--white);
}

.badge_3 {
    background-color: rgb(239 55 55);
    color: var(--white);
}

.gradient {
    height: 5px;
    background: linear-gradient(to right, var(--green) 60%, #ffb800 50%, var(--red) 20%);
}

.recent_body > span {
    color: var(--light-text-2);
}

.cards_group {
    display: flex;
}

.metrics_progress {
    background-color: var(--orange);
    margin: 10px;
}

.task_progress {
    background-color: var(--blue-text);
    margin: 10px;
}

/* search */

form {
    position: relative;
    width: 30rem;
}

.search_icon {
    position: absolute;
    left: -20px;
    top: 10px;
    right: 0;
    z-index: 1;
}
input[type="search"] {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.4rem;
}
input[type="search"] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    appearance: none;
    transition: all var(--dur) var(--bez);
    z-index: 1;
    position: relative;
}

input[type="search"]:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}
label[type="search"] {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/* search   */

.body_content {
    padding: 20px 40px;
    height: calc(100vh - 92px);
    width: 100%;
    overflow-y: auto;
}

.crm_name {
    font-size: 12px;
    padding: 5px 0 5px;
    margin: 0;
}

.task_number {
    color: rgb(15 94 247);
    font-size: 16px;
    padding: 0;
}

.profile_name {
    font-size: 16px;
    padding: 0;
}

.statment {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.user_name {
    color: var(--dark);
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    .sidebar {
        display: none;
    }

    .main-content {
        width: 90%;
    }

    .menu {
        width: 100%;
    }

    .sidebar_content {
        width: 10%;
        min-width: 90px;
    }

    .menubar {
        min-height: 92px;
    }
}

@media only screen and (max-width: 1300px) {
    .search_bar {
        display: none;
    }
}
